html,
body,
#app {
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  width: 100%;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

#options > ul {
  display: flex;
  flex-direction: row;
}

p,
h2,
li,
label {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

li {
  font-size: 18px;
  margin: 10px 10px 10px 10px;
  list-style-type: none;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#sidebar {
  width: 20%;
  display: flex;
  padding-top: 80px;
}

#shop {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
}

#displayProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.productCard {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.productImage {
  height: 200px;
  width: 300px;
}

#productDesc {
  display: flex;
  flex-direction: column;
}

.productOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#homeInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

#homePage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  /* background-image: url("../src/Site/Products/assets/background/main-qimg-3528d34637d0cd0f1faf11a141ba3514.webp"); */
}

#ageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#shopPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

a {
  color: inherit;
}

#sidebarItem {
  cursor: pointer;
}

button {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 24px;
  min-width: 120px;
}

select {
  border: 1px solid black;
  min-height: 24px;
  min-width: 80px;
}

select:focus {
  outline: none;
}

.name {
  font-size: 14px;
  color: rgb(50, 50, 50);
}

label {
  font-size: 14px;
  color: rgb(50, 50, 50);
}

.productName {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.break {
  width: 100px;
  height: 10px;
  background-color: black;
  flex-grow: 1;
  margin-right: 10px;
}
